@import "tailwindcss";

@utility container {
    @apply mx-auto;
}

@layer components {
    .ProseMirror {
        @apply focus:outline-none border-none min-h-96 p-4;
    }

    .ProseMirror h1 {
        @apply text-2xl font-bold;
    }

    .ProseMirror h2 {
        @apply text-xl font-bold;
    }

    .ProseMirror h3 {
        @apply text-lg font-bold;
    }

    .ProseMirror h4 {
        @apply text-lg font-bold;
    }

    .ProseMirror h5 {
        @apply text-base font-bold;
    }

    .ProseMirror h6 {
        @apply text-xs font-bold;
    }

    .ProseMirror p {
        @apply text-base;
    }

    .ProseMirror ul,
    .ProseMirror ol {
        @apply pl-5;
    }

    .ProseMirror ul {
        @apply list-disc;
    }

    .ProseMirror ol {
        @apply list-decimal;
    }
}